{% extends 'base.html' %}
{% block content %}

<div class="d-flex align-content-center flex-wrap jumbotron text-center">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4">
        
            </div>
            <div class="col-lg-4">
                <img src="/static/jennifer.png" class="mx-auto card-img-top">
            </div>
            <div class="col-lg-4">
                
            </div>
        </div>
        <form action="/search" method="POST" class="">
            <input type="text" name="search" class="col-lg-9 form-control-lg" placeholder="Search by Product Name, Brand, or Product Type">
            <button type="submit" class="form-control-lg">Search</button>
        </form>
    
        <div class="my-2">
            <button ><a href="/filter/eyes" class="button">Eyes</a></button>
            <button ><a href="/filter/lips" class="button">Lips</a></button>
            <button ><a href="/filter/face" class="button">Face</a></button>
        </div>
    </div>
</div>


<div class="container">
    <h2>All Products</h2>
<div class="row">
    {% for prd in prds %}
    <div class="card col-lg-3 py-3">
        <img class="card-img-top" src="{{ prd.get('api_featured_image')}}">
        <h3><a href="/product/{{prd.get('id')}}">{{ prd.get("brand")}} - {{ prd.get("name") }}</a></h3>
    </div>
    {% endfor %}
</div>
    
   
</div>
<div class="footer text-center">
</div>

{% endblock %}