{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">{{product.get("name")}}</h1>
<div class="container">
    <h3>Brand: {{product.get("brand")}}</h3>
    <p>{{product.get("product_type")}}</p>
    <p>{{ product.get("category")}}</p>

    <h3>Leave a Review</h3>

    <form method='POST' action="/new_review/{{product.get('id')}}">
    <fieldset>
    
        {{ review_form.csrf_token }}


        {{ review_form.rating.label}}
        {{ review_form.rating}}
        <ul>
            {% for error in review_form.rating.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ review_form.review.label}}
        {{ review_form.review}}
        <ul>
            {% for error in review_form.review.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ review_form.submit }}
    </fieldset>
</form> <br>

{% for review in reviews %}
<div class="card my-2 p-2">
    <h3>{{review.created_by.username}}</h3>
    <p>{{review.rating}}</p>
    <p>{{review.review}}</p>
    {% if current_user == review.created_by %}

    {% endif %}
</div>
{% endfor %}

{% for comment in comments %}
<div class="card my-2 p-2">
    <h3>{{comment.created_by.username}}</h3>
    <p>{{comment.comment}}</p>
    {% if current_user == comment.created_by %}

    <p><form method='POST' action= "/comment/{{comment.id}}/delete">
        <button class="mx-2" type='submit'>Delete</button>
    </form></p>

    {% endif %}
</div>
{% endfor %}
</div>







{% endblock %}